body
{
    background-image: url(tapety/tapeta.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0 auto !important;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
#tapeta
{
    text-align: center;
    margin-top: 300px;
}
#czas
{
    font-size: 150px;
}
#data
{
    font-size: 40px;
}
